@font-face {
	font-family: "MuseoSans-500";
	src: url("../webfonts/museosans-500/font.woff2") format("woff2"),
		url("../webfonts/museosans-500/font.woff") format("woff");
}

:root {
	--global-color-black: #584f4f;
	--global-color-primary: #409eb2;
	--global-color-secondary: #8ec3be;
	--global-color-tertiary: #e6fac5;
	--dark-background: #1d3e3f;
	--space-small: 20px;
	--space-medium: 45px;
	--space-large: 120px;
	--gradient: linear-gradient(to right, var(--global-color-primary), var(--global-color-secondary));
	--bs-body-font-family: "MuseoSans-500";
	--bs-body-font-size: 1rem;
	font-family: var(--bs-body-font-family);
	font-size: var(--bs-body-font-size);
	color: var(--global-color-black);
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
}

img {
	max-width: 100%;
}

a {
	text-decoration: none;
	color: var(--global-color-black);
}

ul {
	margin-block-start: 0;
	margin-block-end: 0;
	padding-inline-start: 0;
}

li {
	background-image: url('../images/list.png');
	background-repeat: no-repeat;
	padding: 2px 0 15px 20px;
	min-height: 25px;
	list-style-type: none;
}

input,
textarea {
	border: solid var(--global-color-black) 1px !important;
	background-color: transparent;
	font-size: 1em;
	padding: 5px 10px;
}

h1 {
	font-size: 1.6em;
	text-transform: uppercase;
	color: var(--global-color-primary);
	margin-block-end: 0;
	margin-block-start: 0;
}

h2 {
	font-size: 1.33em;
	font-weight: bolder;
}

.top,
.component,
.home > div:not(.intro),
.contact .moduletable, .contact .osm-container,
.footer .custom {
	max-width: 940px;
	margin: auto;
}

.top {
	display: flex;
	padding: var(--space-small) var(--space-small) 0;
	flex-wrap: nowrap;
	justify-content: space-between;
}

.logo img {
	max-width: 130px;
}

.navigation {
	text-transform: uppercase;
	font-size: 0.9em;
	padding-top: 24px;
	display: flex;
}

.navigation .nav {
	display: flex;
	flex-wrap: nowrap;
	justify-content: flex-end;
}

.navigation .nav li {
	margin-left: var(--space-medium);
	background-image: none;
}

.component .item-page {
	color: var(--global-color-primary);
}

.component .item-page .introtext p {
	font-weight: bolder;
	line-height: 1.7em;
}

h3 {
	font-size: 1.33em;
	font-weight: bolder;
	line-height: 1.7em;
}

.component .item-page hr {
	border: 2px solid var(--global-color-tertiary);
	width: var(--space-medium);
	margin: 5px 0 var(--space-medium);
}

.component .item-page h1 {
	text-transform: none;
}

.component .item-page h2 {
	text-transform: uppercase;

}

.component .item-page a {
	color: var(--global-color-primary);
}

.component .item-page .com-content-article__body .wrapper-2-columns {
	margin-bottom: var(--space-large);
}

.component .blog {
	padding: var(--space-small) var(--space-small) calc(var(--space-small) * 2) var(--space-small);
}

.intro .custom {
	height: 400px;
	background-position: center;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
}

.intro .cirkel {
	background-color: white;
	color: var(--global-color-secondary);
	border-radius: 50%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 50px;
	width: 300px;
	height: 300px;
}

.intro .cirkel .logo {
	text-align: center;
	width: 100%;
}

.intro .cirkel .baseline {
	margin-top: -20px;
	font-size: 1em;
}

.footer {
	font-size: 0.6em;
	color: var(--global-color-primary);
	font-style: italic;
	padding: var(--space-small) var(--space-small) calc(var(--space-small) * 2) var(--space-small);
	border-image-width: 5px 0 0;
	border-image-source: var(--gradient);
	border-image-slice: 1;
}

.footer a {
	color: var(--global-color-primary);
}

.home {
	margin-bottom: var(--space-large);
}

.home h2 {
	text-align: center;
}

.home li {
	background-image: none;
}

.home .category-module {
	display: flex;
	flex-wrap: nowrap;
	list-style: none;
}

.component .main-image {
	text-align: center;
}

.home .item-image img {
	width: auto;
}

.home .category-module li {
	margin: var(--space-medium) var(--space-small) 0;
	width: 50%;
}

.home .category-module li .mod-articles-category-readmore,
button, .btn {
	margin-top: var(--space-small);
	background-image: var(--gradient);
	width: fit-content;
	padding: 8px 3px;
}

.home .category-module li .mod-articles-category-readmore a,
button, .btn {
	color: white;
	text-transform: uppercase;
	padding: 5px;
}

.home .category-module li .mod-articles-category-readmore a:hover {
	background-color: white;
	color: var(--global-color-black);
}

.contact {
	padding: 0 var(--space-small) calc(var(--space-small) / 4);
	background-image: var(--gradient);
	color: white;
}

.contact a {
	color: white;
}

.contact .custom {
	display: flex;
}

.contact .custom .data,
.contact .custom .form {
	width: 50%;
}

.contact h2 {
	text-align: center;
	padding: var(--space-medium) 0;
	color: white;
}

.contact .data .name,
.contact .data .adres,
.contact .data .telefoon {
	margin-bottom: var(--space-small);
}

.contact .data div:not(.btw) {
	font-size: 1.06em;
}

.contact .data .btw {
	font-style: italic;
	font-size: 0.7em;
}

.contact .form input::placeholder,
.contact .form textarea::placeholder {
	color: white;
	font-family: "MuseoSans-500";
}

.contact .form div[data-name="firstname"],
.contact .form div[data-name="lastname"],
.contact .form div[data-name="privacy"] {
	width: 50%;
}

.contact .form div[data-name="firstname"] .cf-control-input {
	margin-right: 10px;
}

.contact button,
.formulier button {
	background-image: none;
	-webkit-appearance: button-bevel;
	-moz-appearance: button-bevel;
	appearance: button-bevel;
	background-color: var(--global-color-black);
	color: white;
	font-family: "MuseoSans-500";
	width: auto;
	justify-self: flex-end;
	margin-top: 0;
	border: none;
}

.contact button:hover {
	cursor: pointer;
}

.form .convertforms {
	background-color: none !important;
	margin-bottom: var(--space-small);
}

.cf-field-hp {
	display: none;
}

.cf-control-group {
	width: 100%;
	margin-bottom: 5px;
}

.cf-width-auto {
	width: 100%;
}

.cf-fields {
	display: flex;
	flex-wrap: wrap;
}

.cf-text-right {
	display: flex;
	justify-content: flex-end;
}

@media (prefers-color-scheme: dark) {
	body {
		background-color: var(--dark-background);
		color: white;
	}

	a {
		text-decoration: none;
		color: white;
	}

	input,
	textarea {
		border: solid var(--dark-background) 1px !important;
	}

	.intro .cirkel {
		background-color: var(--dark-background);
	}

	.navigation a {
		color: white;
	}

	.footer {
		color: var(--global-color-secondary);
		border-image-source: none;
		border-top: 5px solid var(--global-color-black);
	}

	.footer a {
		color: var(--global-color-secondary);
	}

	.contact {
		background-color: var(--global-color-black);
		background-image: none;

	}

	.contact h2 {
		color: white;
	}

	.contact button,
	.formulier button, .btn {
		background-color: var(--dark-background);
	}

	.component .item-page {
		color: white;
	}

	.component .item-page a {
		color: white;
	}

	.formulier .convertforms.cf {
		background-color: var(--global-color-black);
		background-image: none;
	}
}

@media screen and (max-width: 799px) {
	.home .moduletable {
		margin: var(--space-large) var(--space-small) 0;
	}

	.home .category-module {
		flex-wrap: wrap;
	}

	.home .category-module li {
		width: 100%;
	}

	.contact .custom {
		flex-wrap: wrap;
	}

	.contact .custom .data,
	.contact .custom .form {
		width: 100%;
	}

	.contact .custom .form {
		margin-top: var(--space-medium);
	}

	.navigation {
		display: block;
	}

	div.mod-languages {
		text-align: right;
	}

	div.mod-languages li {
		margin-right: 0;
	}

	div.mod-languages a {
		padding: 0;
	}

	.home > div.moduletable.intro {
		margin: auto 0;
	}
}

@media screen and (max-width: 799px) and (min-width: 600px) {
	.top,
	.home > div:not(.intro),
	.component,
	.contact .moduletable, .contact .osm-container,
	.footer .custom {
		max-width: 500px;
		margin: auto;
	}
}

@media screen and (min-width: 1400px) {
	.top,
	.home > div:not(.intro),
	.component,
	.contact .moduletable, .contact .osm-container,
	.footer .custom {
		max-width: 1200px;
		margin: auto;
	}
}

.home > div.moduletable.intro {
	margin: var(--space-small) auto 0;
}

.wrapper-2-columns {
	display: flex;
	justify-content: space-between;
}

.wrapper-2-columns > * {
	width: 45%;
}

.formulier .page-header h2 {
	text-align: center;
	margin-bottom: 2em;
}

.formulier .com-content-article__body {
	width: 80%;
	margin: auto;
}

.formulier .convertforms {
	background-image: linear-gradient(to right, var(--global-color-primary), var(--global-color-secondary));
	width: 80%;
	margin: 2em auto;
	padding: 20px 40px;
	color: white;
}

.formulier .convertforms a {
	color: white;
}

.formulier .convertforms input {
	color: white;
}

.formulier .convertforms input::placeholder {
	color: white;
}

.formulier #cf_2 .cf-control-label {
	margin-top: 30px;
}

.formulier #cf_2 .cf-one-half .cf-control-input {
	width: 80%;
	margin: 10px 0 30px;
}

.cf-one-half {
	width: 50%;
}

.cf-success .cf-fields {
	display: none;
}

.osm-container {
	padding-top: var(--space-medium);
}

.osm-page-title {
	display: none;
}

.osm-pricing-table {
	display: flex;
	justify-content: center;
}

.osm-pricing-table .osm-plan .osm-plan-header, .osm-pricing-table .osm-plan .osm-plan-price {
	padding: 0;
}

.osm-pricing-table .col-md-4 {
	width: 42%;
}

.osm-pricing-table .osm-plan ul {
	color: var(--global-color-black);
	text-align: left;
	margin: auto;
}

.osm-container .osm-pricing-table .osm-plan .osm-plan-header {
	background-color: var(--dark-background);
}

.osm-container .osm-pricing-table .osm-plan.osm-plan-recommended .osm-plan-header {
	background-color: var(--global-color-tertiary);
}

.osm-container .osm-pricing-table .osm-plan.osm-plan-recommended .osm-plan-header h2 {
	color: var(--global-color-black) !important;
}

.osm-container .osm-pricing-table .osm-plan .osm-plan-price {
	background-color: var(--global-color-primary);
	margin-top: -5px;
}

.osm-container .osm-pricing-table .osm-plan.osm-plan-recommended .osm-plan-price {
	background-color: var(--global-color-secondary);
}

.osm-plan-price .price {
	display: block;
}

.osm-plan-short-description {
	margin: var(--space-small);
}

.osm-pricing-table .osm-plan ul.osm-signup-container {
	background-color: var(--dark-background);
	text-align: center;
	padding: var(--space-small) 0;
}

#osm-plans-list-columns .osm-pricing-table {
	max-width: 720px;
	margin: auto;
}

.osm-signup-container li {
	background-image: none;
	padding-bottom: 5px;
}

.osm-container form.form > input {
	display: none;
}

.osm-container form.form div.row {
	display: flex;
}

.osm-container h3 {
	color: var(--global-color-primary);
	padding-top: var(--space-small);
}

.osm-container h3.eb-heading {
	margin-top: var(--space-medium);
	border-top: 1px solid var(--global-color-primary);
}

.col-md-6 {
	width: 50%;
	border: 1px solid var(--global-color-primary);
	margin-bottom: var(--space-small);
}

@media screen and (max-width: 990px) {
	.osm-container form.form div.row {
		display: block;
	}
	.col-md-6 {
		width: 100%;
	}

	.form-actions .btn {
		margin-bottom: var(--space-small);
	}
}

.osm-container form.form div.row.osm-captcha-container, .osm-container form.form div.row.payment_information {
	display: none;
}

.form-row .form-control-label {
	width: 200px;
}

.form-horizontal .nav {
	display: block;
}

.form-horizontal > div {
	gap: var(--space-medium);
}

.form-horizontal > div > div {
	flex: 1;
}

.form-horizontal .nav.nav-tabs {
	border-bottom: none;
}

.form-horizontal .nav li {
	display: block;
	background-image: none;
}

.osm-container .eb-form-control {
	flex: 1;
}

.input-group-text {
	border: solid var(--dark-background) 1px;
}

#osm-forgot-username-password {
	font-size: 0.7rem;
}

#osm-forgot-username-password li {
	display: inline-block;
}

.visually-hidden {
	display: none;
}

ul.lang-inline li {
	background-image: none;
}
